**Ex. 1**

In [15]:
#List comprehensions:
lst = [i for i in range(1,11)]

#For loop:
lst = []

for i in range(1, 11): 
  lst.append(i)

#print(lst)

**Ex. 2**

In [27]:
#List comprehensions:
lst = [i for i in range(1, 11) if i % 2 == 0]

#For loop:
lst = []

for i in range (1, 11): 
  if i % 2 == 0: 
    lst.append(i)

#Alter for loop:
lst = []

for i in range (2, 11, 2):
  lst.append(i)

#print(lst)

**Ex. 3**

In [30]:
x = (100 ** 3) ** 2 - 10 ** 3 / 5 ** 2
#print(x)

**Ex. 4**

In [42]:
if 3 ** 7 < 7 ** 5: 
  print(3 ** 15 > 3000)
else: 
  print(False)

True

**Ex. 5**

In [46]:
price = int(input('Input price: '))

if price > 1200:
  print('Higher than market price.')
elif price < 800:
  print('Lower than market price.')
else:
  print('Everything is ok.')

Input price: 1500
Higher than market price.

**Ex. 6**

In [50]:
dct_1 = {'price_1': 300,
         'price_2': 400}

dct_2 = {'price_1': 500,
         'price_3': 600}

dct_1.update(dct_2)

#print(dct_1)

**Ex. 7**

In [75]:
import numpy as np
from time import time

lst1 = lst2 = [i for i in range(1, 10 ** 6 + 1)]
init_time = time()

res = [i / j for i, j in zip(lst1, lst2)]
print('Time for division of lists: {:f} s'.format(time() - init_time))

array1 = array2 = np.arange(1, 10 ** 6 + 1)
init_time = time()

res = array1 / array2
print('Time for division of array: {:f} s'.format(time() - init_time))

Time for division of lists: 0.081595 s
Time for division of array: 0.014722 s

**Ex. 8**

In [90]:
for i in range(1, 501):
  if i % 7 == 0 and str(i).find('8') > -1:
    print(i, end = ' ')

28 84 98 168 182 189 238 280 287 308 378 385 448 483

**Ex. 9**

In [103]:
mas = ['abc', 'def', 'hello', 'world', 'hello']

#First occurrence:
dct = {word: (mas.index(word), len(word)) for word in mas}

#Last occurrence:
dct = {mas[i]: (i, len(mas[i])) for i in range(0, len(mas) - 1)}

#print(dct)

Ex. **10**

In [265]:
summ = 0
names = []

# Your code here:

def another_func(*args, **kwargs):
  foo = lambda tpl, dct: sum(tpl)

  print(foo(args, kwargs))

  global summ, names
  summ = foo(args, kwargs)
  names.extend([key for key in kwargs.keys()])

# End code

another_func(1, 2, 3, a=4, b=5)

print(f'Cумма {summ}, названия {names}')

6
Cумма 6, названия ['a', 'b']